@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Inter&family=Montserrat:wght@200;300;400;500;600;700&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Inter&family=Montserrat:wght@200;300;400;500;600;700&family=Passion+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;;
}

body{
    background-color: var(--darker);
}

.dark-mode{
    --dark-text-color: #e9e4e4;
    --primary-text-color: #e9e9e9;
    --seconday-text-color: #b8b8b8;
    --tertiary-color: #a1dbfa;
    --light-color: #548aa5;
    --alert: red;
    --para-color: #767676;
    --card-bg: #111111;
    --darker: #161616;
    --nav-color: #000;
    --hover: rgb(255, 148, 148);

}

:root{
    --dark-text-color: #00204f;
    --primary-text-color: #969696;
    --seconday-text-color: #57bff7;
    --tertiary-color: #a1dbfa;
    --darker : #ffffff;
    --alert: red;
    --para-color: #36393e;
    --card-bg: #f9fbff;
    --nav-color : #000000;
    --hover: rgb(255, 255, 255);
    --hover-button : #222222;
}

.nav-bar{
    height: 4rem;
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px black;
}

.main-nav{
    justify-content: space-between;
    height: 100%;
    color: var(--primary-text-color);
}

.logo a img{
    height: 3rem;
    width: 6rem;
}

.nav-links{
    width: 40rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}



.nav-links ul li{
    margin: 1em;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--hover);
}

.hover-link:active{
    color: var(--alert);
}

.nav-items.active{
    color: var(--alert);
}

.search-bar{
    height: 2rem;
    gap: 0.5rem;
    flex : 1;
    justify-content: right;
}

.search-input{
    color: var(--dark-text-color);
    height: 100%;
    width: 20rem;
    padding-inline: 0.5rem;
    border-radius: 1rem;
    border: none;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    background-color: var(--card-bg);
}

.search-button{
    height: 100%;
    width: 5rem;
    padding-inline: 0.2rem;
    border:none;
    border: 1px solid black;
    color: var(--dark-text-color);
    background-color: var(--alert);
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
}

.search-button:hover{
    background-color: var(--hover-button);
}

.card-container{
    margin-top: 6rem;
    justify-content: center;
    flex-wrap: wrap;
    
}


.card{
    height: 25rem;
    width: 22rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: var(--card-bg);
    margin: 1rem;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 8px black;
}

.card-header{
    height: 12rem;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
}

.card-header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-content{
    padding: 5px 5px;
}

.news-desc{
    height: 7rem;
    overflow: hidden;
    color: var(--para-color);
    font-weight: 600;
}

.news-source{
    color: var(--dark-text-color);
    margin-block: 1rem;
}


#news-title{
    color: var(--dark-text-color);
}

@media (max-width: 800px) {
    .logo a img{
        height: 1.8rem;
        width: 4rem;
        margin-top: 10px;
    }

    .main-nav{
        flex-direction: column;
        justify-content: center;
        /* height: 8rem; */
    }

    .nav-bar{
        height: 8rem;
    }

    .search-input{
        border-radius: 1rem;
        height: 1.5rem;
        width: 15rem;
    }

    #search-button{
        border-radius: 1rem;
        padding: 0px 12px;
        height: 1.5rem;
    }

    i{
        position: relative;
        top: -3.5rem;
        right: -8rem;
    }
}

i{
    margin-left: 3rem;
}

