body{
    font-family: 'Bungee Spice', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.826);
    padding: 0px;
    margin: 0px;
}

.btn{
    border: 1px solid black;
    height: 7.5rem;
    width: 7.5rem;
    font-size: 3.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.game-container{
    height: 22.5rem;
    width: 22.5rem;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    margin: auto;
}

#restart{
    font-family: 'Bungee Spice', sans-serif;
    margin-top: 1rem;
}