<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
  </head>
  <body>
    <h3>To delete this user : <%= user.email %> , enter the password</h3>
    <form method="post" action="/user/<%= user.id%>?_method=DELETE">
      <input placeholder="enter password to delete" name="password" />
      <button>Delete</button>
    </form>
  </body>
</html>
